.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.logo{
    display: flex;
    justify-self: center;
    align-items: center;
}

.logo-img{
    margin: 5px;
    padding: 10px;
}

.logo-text{
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Noto Serif', serif;
}

#f{
    color: white;
}

#S{
    color: coral;
}

#T{
    color: orangered;
}

.logo-text:hover{
    color: orangered;
}

.nav-links{
    display: flex;
    color: white;
}

.nav-links li{
    margin-left: 1rem;
    list-style: none;   
}

.nav-links a{
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-links a:hover{
    color: orangered;
}

#download_button:hover{
    color: white;
}

.navbar .menu-icons{
    display: none;
}

@media screen and (max-width: 600px) {
    
    .nav-links{
        display: none;
        border: 2px solid white;
        z-index: 111;
    }
    .navbar .menu-icons{
        display: block;
    }

    .navbar #nav-links-mobile,
    .navbar #nav-links-mobile-hide{
        display: block;
        position: absolute;
        left: 0;
        top: 8rem;
        width: 100%;
        background: #003366;
        border-top: 1px solid white;
        padding-bottom: 5px;
        transition: all 0.5sec;
    }

    .navbar #nav-links-mobile{
        animation: slide-in 0.5s ease-in-out;
    }
    @keyframes slide-in {
        0%{
            transform: translateX(-100%);
        }
        100%{
            transform: translateX(0);
        }
    }

    .navbar #nav-links-mobile-hide{
        left: -100%;
        animation: slide-out 0.5s ease-in-out;
    }
    @keyframes slide-out {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    .navbar #nav-links-mobile li,
    .navbar #nav-links-mobile-hide li{
        text-align: center;
        padding: 1rem 0;
        border-bottom: 1px solid white;
        margin: 0 3rem;
    }

    .navbar #nav-links-mobile li:last-child,
    .navbar #nav-links-mobile-hide li:last-child{
        border-bottom: none;
    }
}