.u-title {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 40px;
  }
  
  .u-title h2 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
  }
  
  .u-title h3 {
    width: 50%;
    min-width: 40rem;
    margin: 0 auto;
    color: var(--dark-text);
  }