.u-title {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 40px;
}
  
.u-title h2 {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
}
  
  .title h3 {
    width: 50%;
    min-width: 40rem;
    margin: 0 auto;
  }

  #sub{
    font-family:'Times New Roman', Times, serif;
  }
  
  .features-content {
    display: flex;
    justify-content: center;
    /* padding: 3rem 0; */
  }
  
  .features-left {
    flex: 1;
    text-align: center;
  }
  .features-left img {
    width: 80%;
  }
  .features-right {
    flex: 1;
  }
  
  @media screen and (max-width: 600px) {
    .features-content {
      flex-direction: column;
    }
  }