#download {
    padding: 20px;
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
    text-align: center;
    color: #fff;
  }

  .download h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    font-weight: 200;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 1.5rem 0;
    position: relative;
    padding-bottom: 1rem;
  }
  
  .download p{
    font-size: 20px;
  }

  .download h2::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 20%;
    height: 1px;
    background: white;
    transform: translateX(-50%);
  }
  .download-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
  }
  
  .download-icon {
    margin: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .download-icons p{
    margin: 5px;
  }

@media screen and (max-width:600px) {
    .download-icons{
      display: block;
    }
    .download-icon{
      margin: 1rem 2rem;
      border: 2px solid #fff;
      border-radius: 5px;
      width: 12rem;
      display:contents;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-size: 1rem;
      cursor: pointer;
    }
}